<div id="<%= dom_id office%>" class="flex flex-col">
  <p class="my-3 flex-auto">
    <strong class="font-medium mb-1">Name:</strong>
    <%= office.name %>
  </p>

  <p class="my-3 flex-auto">
    <strong class="font-medium mb-1">State:</strong>
    <%= office.state %>
  </p>
</div>
